
.p{
	padding: 5px;
}

.no{
	margin:0px;
	padding: 0px;
}
body{
	font-family: 'Sansita', sans-serif;

}

.footer{

	height:50px;
	background:#292929;
	color:white;
	text-align: center;
}
/*
.left-radius{

		
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.right-radius{

		
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

*/